<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="/css/stylesLivro.css">
</head>
<body>
    <div class="header">
        <h1>Lista de Livros</h1>
    </div>

    <div class="container">
        <a href="/livro/novo" class="btn-cadastrar">
            Adicionar Novo Livro
        </a>

        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Ano de Publicação</th>
                    <th>Número de Páginas</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${listaLivro}">
                    <td th:text="${livro.titulo}"></td>
                    <td th:text="${livro.autor}"></td>
                    <td th:text="${livro.ano_publicacao}"></td>
                    <td th:text="${livro.num_paginas}"></td>
                    <td th:text="${livro.preco}"></td>
                    <td class="acoes-btn">
                        <button class="btn-visualizar" th:onclick="|window.location='@{/livro/view/{id}(id=${livro.id_livro})}'|">
                            Visualizar
                        </button>
                        <button class="btn-editar" th:onclick="|window.location='@{/livro/editar/{id}(id=${livro.id_livro})}'|">
                            Editar
                        </button>
                        <button class="btn-deletar" th:onclick="|if(confirm('Tem certeza que deseja deletar?')) window.location='@{/livro/deletelivro/{id}(id=${livro.id_livro})}'|">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
